body {
	background: #FFF;
	margin: 0;
	padding: 0;
	color: #7B7B7B;
	font-family: 'Lora', Times, "Times New Roman", Georgia, Serif;
	font-size: 2.3vmin;
	line-height: 3.5vmin;
}

.body {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

.content {
	min-width: 400px;
	box-sizing: border-box;
	width: 50%;
}

.title {
	color: #29A9CC;
	font-size: 4vmin;
	font-weight: bold
}

.heading {
	margin: 2em 0 1em 0;
	font-weight: bold
}

.source {
	font-size: 1.5vmin;
	display: block;
	margin-top: 2em;
}

.source a {
	color: #7B7B7B;
}